body {
    background: #EBAFAF;
}
ul {
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, body, ul {
    margin: 0;
    padding: 0;
}
button {
    border: none;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}